!!!
%html
  %head
    = stylesheet_link_tag 'new_edit_common', :media => 'all'
    %title CreateMovie
  %body
    = render 'shared/header'
    - flash.each do |message_type, message|
      %div{:class => "flash-message #{ message_type }" }
        = message
    .container
      = form_with model: @movie do |f|
        = render 'shared/error_messages', object: f.object
        .row
          .left-container
            %div{data: {controller: "image-preview"}}
              = f.label :image, class: "form-image" do
                = fa_icon "image 5x awesome-color"
                = f.file_field :image, required: true, data: { "image-preview-target": "input", action: "image-preview#readImage" }
              %ul{data: {image: {preview: {target: "output"}}}}
          .right-container
            %h3.main-text Information
            .label-layout
              %br
              = f.label :title, 'Title'
              %br
              = f.text_field :title, required: true, class: 'input-layout'
            .label-layout
              %br
              = f.label :description, 'Description'
              %br
              = f.text_area :description, required: true, class: 'input-layout text_area'
            .label-layout
              %br
              = f.label :genre, 'Genre'
              %br
              = f.select :genre, @genres, class: 'input-layout'
            .label-layout
              %br
              = f.label :evaluation, 'Evaluation'
              %br
            #star
              = f.hidden_field :evaluation, class: 'input-layout', id: :review_star
              #post-raty
            .row
              = link_to 'Cancel', movies_path, class: 'btn cancel-btn'
              = f.submit 'Create', class: 'btn action-btn'
    :javascript
      jQuery('#star').raty({
        size     : 36,
        starOn: "#{asset_path 'star-on.png'}",
        starOff: "#{asset_path 'star-off.png'}",
        scoreName: 'movie[evaluation]',
        half: false,
      });
