!!!
%html
  %head
    = stylesheet_link_tag 'header_index', :media => 'all'
    = stylesheet_link_tag 'header', :media => 'all'
    %script{src: "https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"}
    %script{src: "https://cdnjs.cloudflare.com/ajax/libs/raty/2.9.0/jquery.raty.js"}
  %body
    %header
      .header
        %nav.nav
          %ul
            %li
              = link_to 'List', movies_path, class: 'list', data: { turbo_method: :get }
            %br
            %li
              = link_to 'Create', new_movie_path, class: 'create', data: { turbo_method: :get }
            %br
            %li
              = link_to 'Logout', destroy_user_session_path, class: 'logout', data: { turbo_method: :get }
        %button#navbtn{type: "button"}
        &nbsp;
        %a.logo{href: movies_path}MovieApp
        .header-right
          = search_form_for @q, class: "header-form" do |f|
            = f.search_field :title_cont
            %button{type: "submit", class: "search"}
              %i.fa.fa-search
          .username
            【 #{current_user.username} 】
          &nbsp;
          = link_to 'Create', new_movie_path, class: 'btn-header create', data: { turbo_method: :get }
          = link_to 'Logout', destroy_user_session_path, class: 'btn-header logout', data: { turbo_method: :delete }
    :javascript
      jQuery(document).on('turbo:load', function() {
        document.querySelector('html').classList.remove('open');
      });
      document.getElementById("navbtn").onclick = function(){
        document.querySelector('html').classList.toggle('open');
      };