!!!
%html
  %head
    = stylesheet_link_tag 'header', :media => 'all'
    %script{src: "https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"}
    %script{src: "https://cdnjs.cloudflare.com/ajax/libs/raty/2.9.0/jquery.raty.js"}
  %body
    %header
      .header
        %nav.nav
          %ul
            %li
              = link_to 'List', movies_path, class: 'list', data: { turbo_method: :get }
            %br
            %li
              = link_to 'Create', new_movie_path, class: 'create', data: { turbo_method: :get }
            %br
            %li
              = button_to 'Logout', destroy_user_session_path, class: 'btn-header-phone logout', method: :delete
        %button#navbtn{type: "button"}
        &nbsp;
        %a.logo{href: movies_path}MovieApp
        &nbsp;
        &nbsp;
        = link_to edit_user_registration_path do
          = fa_icon "user 2x awesome-color"
        .header-right
          .username
            【 #{current_user.username} 】
          &nbsp;
          = button_to 'Logout', destroy_user_session_path, class: 'btn-header logout', method: :delete
    :javascript
      jQuery(document).on('turbo:load', function() {
        document.querySelector('html').classList.remove('open');
      });
      document.getElementById("navbtn").onclick = function(){
        document.querySelector('html').classList.toggle('open');
      };