<%= stylesheet_link_tag 'devise_common', :media => "all" %>
<%= stylesheet_link_tag 'forgot_password', :media => "all" %>

<div class="container">
  <div class="card">
    <%= form_with model: @user, url: password_path(resource_name) do |f| %>
      <%= render "users/shared/error_messages", resource: resource %>
      <h3 class="message">Forgot your password?</h3>
      
      <br />
      
      <div class="field label-layout">
        <%= f.label :email %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "input-layout" %>
      </div>
      
      <br />
    
      <div class="actions">
        <%= f.submit "Send me reset password instructions", class: "btn" %>
      </div>
      
      <div class="link">
        <%= render "users/shared/links" %>
      </div>
    <% end %>
  </div>
</div>
